
<div>
	Welcome to My Movies
</div>
<partial name="_MovieList" />
<partial name="_BookList" />

@* name of view is enough it can be accessed by any controller
any cshtml code put inside shared folder ---it is global for all controllers *@