@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a href="Doctor/Create">Add Doctor</a>
</div>
<div>
<a href="Patient/Create">Add Patient</a>
</div>
<div>
    <a href="Appointment/Create">Add Appointment</a>
</div>